
{% extends 'base.html' %}
 {% block content  %}
   
    <div class="container">
      <div class="row">
        <!-- Latest Posts -->
        <main class="posts-listing col-lg-8"> 
          <div class="container">
            <div class="row">
              <!-- post -->
              {% for post in post_list %}
              <div class="post col-xl-6">
                <div class="post-thumbnail"><a href="{{post.get_absolute_url}}"><img src="{{post.thumbnail.url}}" alt="..." class="img-fluid"></a></div>
                <div class="post-details">
                  <div class="post-meta d-flex justify-content-between">
                    <div class="date meta-last">{{post.timestamp}}</div>
                    <div class="category"><a href="#">Business</a></div>
                  </div><a href="{{post.get_absolute_url}}">
                    <h3 class="h4">{{post.title}}</h3></a>
                  <p class="text-muted">{{ post.overview|linebreaks|truncatechars:60 }}</p>
                  <footer class="post-footer d-flex align-items-center"><a href="#" class="author d-flex align-items-center flex-wrap">
                      <div class="avatar"><img src="{{post.author.profile_picture.url}}" alt="..." class="img-fluid"></div>
                      <div class="title"><span>{{post.author}}</span></div></a>
                    <div class="date"><i class="icon-clock"></i>{{post.timestamp}}</div>
                    <div class="comments meta-last"><i class="icon-comment"></i>{{post.comment_count}}</div>
                  </footer>
                </div>
              </div>
              {% endfor %}
       
        
              <!-- post -->
            
              
              
            </div>
            <!-- Pagination -->
              {% if post_list.has_other_pages %}

            <nav aria-label="Page navigation example">

              <ul class="pagination pagination-template d-flex justify-content-center">
                              {% if post_list.has_previous %}

                <li class="page-item"><a href="?page={{post_list.previous_page_number}}" class="page-link"> <i class="fa fa-angle-left"></i></a></li>
                {% endif %}
                {% for i in post_list.paginator.page_range %}
                {% if post_list.number == i %}

                <li class="page-item"><a href="?page={{i}}" class="page-link active">{{i}}</a></li>
                {% else %}
                <li class="page-item"><a href="?page={{i}}" class="page-link">{{i}}</a></li>
                {% endif %}

                {% endfor %}
                {% if post_list.has_next %}
                <li class="page-item"><a href="?page={{post_list.next_page_number}}" class="page-link"> <i class="fa fa-angle-right"></i></a></li>
                {% endif %}
              </ul>
            </nav>
                          {% endif %}

          </div>
        </main>
  {% include 'sidebar.html' with most_recent=most_recent category_count=category_count %}
      </div>
    </div>

{% endblock content %}
