{% extends 'base.html' %}
{% block content %}
    <div class="container">
      <div class="row">
        <!-- Latest Posts -->
        <main class="post blog-post col-lg-8"> 
          <div class="container">
          {% if post %}
            <div class="post-single">
              <div class="post-thumbnail"><img src="{{post.thumbnail.url}}" alt="..." class="img-fluid"></div>
              <div class="post-details">
                <div class="post-meta d-flex justify-content-between">
                  <div class="category">
                  {% for category in post.category.all %}
                  <a href="#">{{category}}</a>
                  {% endfor %}

                 </div>
                 <div class="post-tags"><a href="{% url 'post-update' id=post.id %}" class="tag">Edit</a><a href="{% url 'post-delete' id=post.id %}" class="tag bg-danger text-white">Delete</a></div>
                </div>
                <h1>{{post.title}}<a href="#"><i class="fa fa-bookmark-o"></i></a></h1>
                <div class="post-footer d-flex align-items-center flex-column flex-sm-row"><a href="#" class="author d-flex align-items-center flex-wrap">
                    <div class="avatar"><img src="{{post.author.profile_picture.url}}" alt="..." class="img-fluid"></div>
                    <div class="title"><span>{{post.author}}</span></div></a>
                  <div class="d-flex align-items-center flex-wrap">       
                    <div class="date"><i class="icon-clock"></i>{{post.timestamp}}</div>
                    <div class="views"><i class="icon-eye"></i> 500</div>
                    <div class="comments meta-last"><i class="icon-comment"></i>12</div>
                  </div>
                </div>
                <div class="post-body">
                  <p class="lead">{{post.overview}}</p>
                  <p class="lead">{{post.content | safe }}</p>
                              
           
            
                </div>
                
                <div class="posts-nav d-flex justify-content-between align-items-stretch flex-column flex-md-row">
                                    {% if prev_post %}

                <a href="{{prev_post.get_absolute_url}}" class="prev-post text-left d-flex align-items-center">
                    <div class="icon prev"><i class="fa fa-angle-left"></i></div>
                    <div class="text"><strong class="text-primary">Previous Post </strong>
                      <h6>{{prev_post.title}}</h6>
                    </div>
                    {% endif %}
                    </a>
                                        {% if next_post %}

                    <a href="{{next_post.get_absolute_url}}" class="next-post text-right d-flex align-items-center justify-content-end">
                    <div class="text"><strong class="text-primary">Next Post </strong>
                      <h6>{{next_post.title}}</h6>
                    </div>
                    {% endif %}
                    <div class="icon next"><i class="fa fa-angle-right">   </i></div></a></div>
                <div class="post-comments">
                  <header>
                    <h3 class="h6">Post Comments<span class="no-of-comments">({{post.comments.count}})</span></h3>
                  </header>
                  {% for comment in post.get_comments %}
                  <div class="comment">
                    <div class="comment-header d-flex justify-content-between">
                      <div class="user d-flex align-items-center">
                      {% if comment.user.author %}
                        <div class="image"><img src="{{comment.user.author.profile_picture.url}}" alt="..." class="img-fluid rounded-circle"></div>
                        {% endif %}
                        <div class="title"><strong>{{comment.user}}</strong><span class="date">{{comment.timestamp}}</span></div>
                      </div>
                    </div>
                    <div class="comment-body">
                      <p>{{comment.content}}</p>
                    </div>
                  </div>
                  {% endfor %}
           
                </div>

                {% if request.user.is_authenticated %}
                <div class="add-comment">
                  <header>
                    <h3 class="h6">Leave a reply</h3>
                  </header>
                  <form action="." method="POST" class="commenting-form">
                  {% csrf_token %} 
                    <div class="row">
                    <div class="form-group col-md-12">
                    {{form}}
                    </div>
                      {% comment %} <div class="form-group col-md-6">
                        <input type="text" name="username" id="username" placeholder="Name" class="form-control">
                      </div> {% endcomment %}
                      {% comment %} <div class="form-group col-md-6">
                        <input type="email" name="username" id="useremail" placeholder="Email Address (will not be published)" class="form-control">
                      </div> {% endcomment %}
                      {% comment %} <div class="form-group col-md-12">
                        <textarea name="usercomment" id="usercomment" placeholder="Type your comment" class="form-control"></textarea>
                      </div> {% endcomment %}
                      <div class="form-group col-md-12">
                        <button type="submit" class="btn btn-secondary">Submit Comment</button>
                      </div>
                    </div>
                  </form>
                </div>
                {% else %}
                <p>Must be logged in to comment.</p>
                {% endif %}
              </div>
            </div>
          </div>
        </main>
        {% endif %}
        {% include 'sidebar.html' with most_recent=most_recent category_count=category_count %}        
      </div>
    </div>
    {% endblock content %}  
